{{#p-index}}
{{> ../head }}
{{> ../organisms/header-block}}
<div class="main">
    {{> ../organisms/section-home}}
    {{> ../organisms/section-books}}
    {{> ../organisms/section-speaking}}
    {{> ../organisms/section-consulting}}
    {{> ../organisms/section-linkedin}}
    {{> ../organisms/section-contact}}
</div>
{{> ../foot }}
{{/p-index}}
