{{#mol-books}}
<div class="books__content__block__main  col-12 col-lg-4">
    <div class="books__content__block__main__item ">
        {{#img}}
        <div class="books__content__block__main__item__image-book d-block ">
            <img src="{{{img}}}" alt="image" />
        </div>
        {{/img}}
        <div class="books__content__block__main__item__book-info ">
            <h2>{{title}}</h2>
            <p>{{{description}}}</p>
            <a href="{{{url}}}" class="books-button">Read more</a>
        </div>
    </div>
    {{#book-link}}
    <div class="books__content__block__main__link">
        <a href="{{{book-link}}}">{{{book-link}}}</a>
    </div>
    {{/book-link}}
</div>
{{/mol-books}}