{{#mol-consulting-apco-logo}}
    {{#img}}
        <div class="consulting__content__main__image-bg col-12 col-lg-6">
            <img src="{{{img}}}" alt="image"/>
        </div>
    {{/img}}
{{/mol-consulting-apco-logo}}