{{#mol-home-content}}
    <div class="home__main__content">
        {{#title}}
            <h2>{{title}}</h2>
        {{/title}}

        {{#description}}
            <p>{{{description}}}</p>
        {{/description}}

        {{#button}}
            <a href="{{{button}}}" class="home-button">{{{button}}}</a>
        {{/button}}

    </div>
{{/mol-home-content}}