{{#mol-social-header}}
    {{#url}}
        <ul class="social-icons">
            <li><a href="{{{url}}}" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            {{#url}}
                <li><a href="{{{url}}}" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            {{/url}}
        </ul>
    {{/url}}
{{/mol-social-header}}