{{#mol-speaking-content-with-links}}
    <div class="speaking__main__posts__item">
        {{#description}}
            <p>{{{description}}}</p>
        {{/description}}

        {{#link}}
            <a href="{{{link}}}">{{{link}}}</a>
        {{/link}}

    </div>
{{/mol-speaking-content-with-links}}