{{#mol-speaking-content-info}}
    <div class="speaking__main__block__info col-lg-5 col-12">
        {{#description}}
            <p>{{{description}}}</p>
        {{/description}}

        {{#url}}
            <a href="{{{url}}}">{{{url}}}</a>
        {{/url}}

        {{#img}}
            <div class="speaking__main__block__info__image-bg">
                <img src="{{{img}}}" alt="image"/>
            </div>
        {{/img}}
    </div>
{{/mol-speaking-content-info}}