
body {
  padding: 0;
  margin: 0;
  font-family: 'NunitoSans-Regular';
}

p {
  font-family: 'NunitoSans-Regular';
}

nav {
  background: #ffffff;
  height: 70px;
  z-index: 1;
}

nav #brand { 
  float: left;
  display: block;
  margin: 0;
  font-size: 0;
  line-height: 70px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  color: #777777;
}


nav .menu {
  float: right;
  right: 0;
  position: relative;
  margin: 0;
  padding: 0;
}

nav .menu li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav .menu li a {
  color: #111c24;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  font-family: 'Libre Baskerville', serif;
}

nav .menu li a:hover {
  color: #ab1f1f;
  text-decoration: none;
}

#toggle {
  position: relative;
  left: 0;
  top: 17px;
  display: none;
  z-index: 999;
  width: 20px;
  height: 24px;
  cursor: pointer;
  float: left;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  height: 1px;
  background: #333;
  margin: 7px auto;
  backface-visibility: hidden;
}

#toggle.on #one {
  transform: rotate(45deg) translateX(11px) translateY(6px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translateX(5px) translateY(-1px);
}

#resize {
  z-index: 1;
  position: relative;
  top: 0;  
  width: 100%;
  height: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#resize .menu {
  max-height: 50px;
  height: auto;
  //display: table-cell;
  display: block;
  vertical-align: middle;
  padding: 0;
}

#resize .menu li {
  display: block;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize .menu li:hover {
  background: #212121;
}

#resize .menu li:hover a {
  color: #fff;
  transition: all 0.3s ease-out;
}

#resize .menu li a {
  color: #212121;
}

#resize.active {
  //visibility: visible;
  //opacity: 0.99;
  //display: table;

  visibility: visible;
  opacity: .99;
  display: block;
  z-index: 999999999999;
  height: 350px;
  overflow-y: scroll;
}

header {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  top: 0;
  box-shadow: 1px -3px 62px #d3d3d3;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
  height: 100% !important;
}

@media screen and (min-width: 993px) {
  .home {
    display: flex;
    align-items: center;
    background-size: cover;
  }
}

.home {
  width: 100%;
  height: auto;
  position: relative;
  //display: flex;
  //align-items: center;
  //background-size: cover;

  background-repeat: no-repeat;
  background-position-x: right;
  padding-top: 70px;

  &__main {
    width: 100%;
    height: auto;
    position: relative;
    background-image: none !important;
    &__content {
      width: 100%;
      height: auto;
      //min-height: 600px;
      display: flex;
      flex-wrap: wrap;
      max-width: 820px;
      align-items: flex-start;
      flex-direction: column;
      padding: 0;
      justify-content: center;
      //margin-top: 200px;
      h2 {
        font-size: 80px;
        font-weight: 500;
        margin: 0 0 22px 0;
        font-family: 'Libre Baskerville', serif;
        text-shadow: 27px -34px rgba(226, 226, 224, .3);

      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 22px 0;
        font-family: 'NunitoSans-Regular';
      }
      a {
        border-radius: 0;
        padding: 10px 25px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        margin: 0;
        color: #111c24;
        position: relative;
        border: 2px solid #e12828;
        display: inline-block;
        background-color: transparent;
        width: 220px;
        font-weight: 500;
        font-family: 'NunitoSans-Regular';
        &:active {
          transform: translate(0px, 5px);
          -webkit-transform: translate(0px, 5px);
        }
        &:hover {
          background-color: #e12828;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  &__copyright {
    background-color: #0e171d;
    width: 100%;
    height: auto;
    position: inherit;
    bottom: 0;
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      min-height: 35px;
      &__info {
        color: #fff;
        p {
          margin: 0;
          color: #9c9e9f;
        }
      }
      &__social {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          li {
            a {
              i {
                color: #fff; 
                padding-left: 30px;
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }
}

.books {
  width: 100%;
  //height: 100%;
  min-height: 600px;
  //position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  &__content {
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;   
    justify-content: center;
    padding: 180px 0 160px 0;

    &__block {
      width: 100%;
      height: auto;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      &__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        align-items: flex-start;
        padding: 0;
        &__item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          height: auto;
          align-items: flex-start;
          padding: 0;
          margin-bottom: 20px;
          &__image-book {
            max-width: 218px;
            min-height: 320px;
            background-position: center;
            background-size: unset;
            margin: 0;
            outline: none;
            background-repeat: no-repeat;
            img {
              width: 218px;
              height: auto;
            }
          }
          &__book-info {
            padding: 0 20px;
            h2 {
              font-size: 27px;
              margin-bottom: 15px;
              font-weight: 700;
              font-family: 'Libre Baskerville', serif;
              color: #111c24;
              &:hover {
                color: #ab1f1f;
              }
            }
            p {
              font-size: 16px;
              color: #111c24;
              font-family: 'NunitoSans-Regular';
              font-weight: 500;
            }
            a {
              color: #b63d3d;
              font-size: 16px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        &__link {
          width: auto;
          height: auto;
          position: relative;
          max-width: 300px;
            a {
              list-style: none;
              color: #ab1f1f !important;
              word-break: break-all;
              &:hover {
                cursor: pointer;
              }
            }
        }
      }
    }
  }
}

.speaking {
  //width: 100%;
  //height: auto;
  //position: relative;
  //padding: 120px 0 40px 0;
  //background-size: cover;
  //background-position: bottom;
  position: absolute;
  padding: 0!important;
  width: 100%;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //background-repeat: no-repeat;
  &__main {
    &__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      &__info {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        p {
          line-height: 1.5;
          font-size: 16px;
          margin-bottom: 20px;
        }
        a {
          margin-bottom: 20px;
        }
        &__image-bg {
          width: 100%;
          height: auto;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &__posts {
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 50vh !important;
      padding: 0;
      &__item {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        margin: 20px 0;
        border-bottom: 1px solid #f1f1f1;
        p {
          padding: 0 10px 20px 0;
          margin: 0;
        }
        a {
          padding: 0 10px 0 0 ;
          color: #e12828;
          cursor: pointer;
          word-break: break-all;
        }
      }
    }
  }
}

.consulting {
  width: 100%;
  //height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  //padding: 150px 0 0 0;
  //position: relative;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  &__content {
    &__main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &__info {
        padding: 0;
        p {
          margin: 0;
          a {
            color: #ab1f1f;
            font-size: 16px;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
      &__image-bg {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        img {
          width: 100%;
          height: 100%;

        }
      }
    }
  }
}

.linkedin-media {
  width: 100%;
  //height: auto;
  //padding: 150px 0 0 0;
  //position: relative;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  &__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    &__content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      position: relative;
      padding: 0;
      &__post {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        &__image {
          margin-top: 25px;
          width: 60px;
          height: 60px;
          position: relative;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background-position: right center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        &__name {
          max-width: 400px;
          width: 100%;
          height: auto;
          padding-left: 10px;
          h2 {
          }
          p {
          }
        }
        &__follow {
          width: auto;
          height: auto;
          position: relative;
          a {
            font-size: 18px;
            text-decoration: none;
            i {
              padding: 0 15px 0 15px;
              font-size: 18px;
              font-weight: 100;
            }
          }
        }
      }
      &__description {
        font-size: 16px;
        width: 100%;
        height: 19vh!important;
        position: relative;

        p {
          color: #313a41;
          span {
            padding-top: 25px;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            img {
              position: relative;
            }
            a {
              font-size: 18px;
              padding-left: 10px;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
      &__image {
        width: 100%;
        height: 185px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-size: cover;
        background-position: center;
      }
    }
    &__media {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: relative;
      flex-wrap: wrap;
      padding: 0;
      &__title {
        h2 {
          border-bottom: 1px solid red;
          max-width: 160px;
          margin: 0 0 50px 0;
          padding: 0 0 10px 0;
          font-size: 60px;
          color: #111c24;
          text-shadow: 20px -15px rgba(226,226,224,.5);
          font-family: 'Libre Baskerville', serif;
        }
      }
      &__posts {
        //display: flex;
        height: 50vh;
        flex-direction: column;
        width: 100%;
        position: relative;
        flex-wrap: wrap;
        padding: 0 20px;
        &__item {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          position: relative;
          padding: 10px 0;
          border-bottom: 1px solid #f1f1f1;
          &__news {
            display: flex;
            flex-direction: row;
            position: relative;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            img {
            }
            p {
              position: absolute;
              left: 30px;
            }
            img {
            }
          }
          &__description {
            width: 100%;
            height: auto;
            position: relative;
            margin-top: 15px;
            p {
              font-size: 20px;
              color: #4a4f54;
              font-weight: 600;
            }
            a {
              padding: 0;
              color: #b13b3b;
            }

          }
          &__time {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            p {
              font-size: 12px;
              color: #afb2b5;
            }
          }
        }
      }
    }
  }
}

.contact {
  padding: 210px 0 0 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  &__main {
    width: 100%;
    height: calc(100% - 35px);
    display: flex;
    position: relative;
    align-items: flex-start;  
    &__description {
      width: 100%;
      height: auto;
      position: relative;

      p {
        font-size: 16px;
        color: #313a41;
        a {
          margin-left: 20px;
          color: #ab1f1f;
          font-size: 16px;
        }
      }
    }
  }
}

.about {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  &__block {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    position: relative !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 140px;
    &__main {
      display: flex;
      width: 100%;
      height: auto;
      position: relative;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &__info {
        p {
          margin: 0;
          color: #1f2020;
          font-size: 16px;
          font-family: 'Nunito', sans-serif;
        }
      } 
      &__image {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        img {
          width: 100%;
          height: auto;
          position: relative;
          border-radius: 5px;
          box-shadow: 0px 15px 35px #adadad;
        }
      }
    }
  }
  &__copyright-default {
    display: block;
    position: absolute;
    width: 100%;
    //bottom: auto;
    bottom: 0;
    height: auto;
    background-color: #0e171d;
  }
}

.book-page{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 180px 0 0 0;
  &__main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    &__image{
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      img{
        // width: 100%;
        height: auto;
        position: relative;
      }
    }
    &__content{
      &__info{
        width: 100%;
        height: auto;
        position:relative;
        display: block;
        padding-bottom: 20px;
        h2{
          color: #111c24;
          font-size: 40px;
          font-family: 'Libre Baskerville', serif;
          font-weight: 700;
          margin: 0;
          border-bottom: 1px solid #e12828;
        }
        h4{
          color: #111c24;
          font-size: 20px;
          font-family: 'Libre Baskerville', serif;
          font-weight: 600;
          margin: 10px 0 30px 0;
        }
        a{
          color: #ab1f1f;
          font-size: 16px;
          margin: 30px 0 0 0;
          word-break: break-all;
        }
      }
      &__description{
        padding: 0 0 75px 0;
        width: 100%;
        height: auto;
        h5{
          font-size: 16px;
          color: #111c24;
          font-weight: 600;
          font-family: 'Libre Baskerville', serif;
          margin: 0 0 20px;
          padding: 0 0 20px;
          border-bottom: 1px solid #e12828;
        }
        p{
          font-size: 16px;
          color: #111c24;
          font-family: 'Nunito', sans-serif;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}



.scroll-me-all-night-long {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 55vh;
  margin: 20px 0;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid #e12828;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    border-bottom-width: 8px;
  }

  &::-webkit-scrollbar-thumb:horizontal:hover {
    border-bottom-width: 8px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    border-right-width: 8px;
  }

  &::-webkit-scrollbar-thumb:vertical:hover {
    border-right-width: 8px;
  }
}

.onepage-wrapper .section {
  width: 100%;
  height: 50vh;
}

.overflow-visible {
  overflow: visible !important;
  overflow-x: hidden !important;
}


.title-default{
  width: 100%;
    height: auto;
    position: relative;
}
.title-default h2 {
  border-bottom: 1px solid #e12828;
  display: table;
  padding-bottom: 10px;
  font-size: 60px;
  font-weight: 500;
  margin: 0 0 50px 0;
  font-family: 'Libre Baskerville',serif;
  text-shadow: 20px -15px rgba(226,226,224,.5);
}

.book-page__main__image {
  img {
    &:first-child {
      box-shadow: 0 10px 10px #ccc;
      max-width: 460px;
      width: 100%;
    }
  }
}

.active {
  color: #ab1f1f !important;
    text-decoration: none;
}

p, h2 {
  color: #111c24;
}
@media screen and (min-height: 600px) and (max-height:768px) {  
  .home__main {  
    height: calc(100% - 35px);
    display: flex;
    align-items: center;  
  }

  .container {
    //height: 100%;
  }

  .home__main__content {
    margin-top: 0;
  }

  .books__content {
    margin: 0;
    // height: calc(100% - 35px);
  }

  .speaking {
    padding-top: 80px;
  }

  .title-default h2 {
    margin-bottom: 20px; 
  }

  .speaking__main__block__info p {
    margin-bottom: 5px;
  }

  .speaking__main__block__info a {
    margin-bottom: 5px;
}

.speaking__main__block__info__image-bg img {
  width: 100%;
  height: 185px;
  object-fit: cover;
  object-position: top;
}

.linkedin-media__main__content__post__name {
  font-size: 26px;
}

.scroll-me-all-night-long {
  margin: 5px 0;
}

  .consulting {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
  }
 .linkedin-media {
  padding: 30px 0 0;
}

.linkedin-media__main__content__post__follow a {
  font-size: 16px;
}

.linkedin-media__main__media__posts__item__description p {
  font-size: 18px;
  margin-bottom: 5px;
}

.linkedin-media__main__media__posts__item__time p {
  margin-bottom: 0;
}

.consulting__content__main__info p, .home__main__content p, .books__content__block__main__item__book-info p, .books__content__block__main__link a, .speaking__main__block__info p, .speaking__main__posts__item p, .speaking__main__posts__item a, .linkedin-media__main__content__post__name p, .linkedin-media__main__content__description p, .linkedin-media__main__media__posts__item__description a, .contact__main__description p {
  font-size: 14px;
}
}

.gallery-slider { 
  .slick-slide {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    outline: none;
    img {
      padding: 10px;
      width: auto;
      object-fit: cover;
      &:first-child {
        width: 25%;
      }

      &:nth-child(2) {
        width: 50%;
      }
      &:nth-child(3) {
        width: 25%;
      }

      &:nth-child(4) {
        width: 50%;
      }

      &:nth-child(5) {
        width: 50%;
      }
    }
  }
  
 
}

.nav-arrows-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
   .slick-dots {    
      margin-bottom: 0;
      position: relative;
      bottom: 0;
      width: auto;
      display: table;
    li {   
      margin: 0;      
        &.slick-active {
          button {
            &:before {
              color: red;
            }
          }   
        }
      
       button {
          &:before {
            color: #000;
            opacity: 1;
            font-size: 30px;
            line-height: 17px;
          }
        }     
     }
   }
  #other-news-left {
    display: table;
    cursor: pointer;
    img {
      width: 100%;
      max-width: 15px;
    }
  }
  
  #other-news-right {
    display: table;
    cursor: pointer;
     img {
      width: 100%;
      max-width: 15px;
    }
  }
}
  
  
  

/*MEDIA MAX 992px*/

@media screen and (max-width: 992px) {

  .about__copyright-default, .linkedin-media {
    position: relative;
  }

  .books, .consulting{
    position: relative;
    height: auto;
  }

  .speaking {
    position: relative;
    padding-top: 80px !important;
  }

  .books__content {
    padding: 0 !important;
  }

  .contact__main {
    flex-wrap: wrap;
  }

  .gallery-slider .slick-slide {
    padding: 0 5px;
  }

  .gallery-slider { 
    .slick-slide {
      
      img {
        
        &:first-child {
          width: 100%;
        }
  
        &:nth-child(2) {
          width: 100%;
        }
        &:nth-child(3) {
          width: 100%;
        }
  
        &:nth-child(4) {
          width: 100%;
        }
  
        &:nth-child(5) {
          width: 100%;
        }
      }
    }   
  }


  #toggle {
    display: block;
  }

  .books__content__block__main__item__book-info {
    padding: 0 10px;
}
  .menu{
    width: 100%;
      text-align: center;
      margin: 0 auto;
      position: relative;
      display: table;
  }
  .book-page__main__content__description p{
    font-size: 12px;
    padding: 10px 0 0 0;
  }
  .book-page__main__content__description h5{
    padding: 0 0 5px 0;
  }
  .book-page__main__content__info a{
    font-size: 12px;
  }
  .book-page__main__content__info h4{
    font-size: 16px;
    margin: 10px 0 20px 0;
  }
  .book-page__main__content__info{
    padding-bottom: 20px;
  }
  .book-page__main__content__info h2{
    font-size: 20px;
  }
  .book-page__main__image{
    padding: 0 0 55px 0;
  }
  .book-page__main__image img{
    display: none;
  }
  .book-page__main__image img:first-child{
   display: flex;
  }

  .book-page__main__content{
    padding: 0;
  }
  .book-page {
    padding: 100px 0 0;
}

  .title-default {
    width: 100%;
    height: auto;
  }
  .title-default h2 {
    font-size: 40px !important;
    color: #111c24;
    border-bottom: 1px solid #e12828 !important;
    text-shadow: 8px -13px rgba(226,226,224,.5)!important;
  }

  .linkedin-media__main__content__post__image{
    margin: 0;
  }
  .linkedin-media__main__media__posts__item__description a{
    font-size: 12px;
    padding: 0 10px 0 0;
  }
  .linkedin-media__main__content__description p span a{
    font-size: 14px;
  }
  .speaking__main__posts__item a{
    font-size: 12px;
  }
  .speaking__main__posts__item p{
    font-size: 12px;
  }

  .home__copyright__content__social ul li a i{
    padding-left: 16px;
    font-size: 15px
  }

  .home__copyright {
    position: absolute !important;
    bottom: 0;
}

  #toggle {
    visibility: visible;
    opacity: 1;
  }

  .linkedin-media__main__media {
    padding: 100px 0 0 0;
  }
  .linkedin-media {
    padding-top: 80px;
  }
  .linkedin-media__main__content__title {
    margin-bottom: 30px;

  }
  .linkedin-media__main__content__title h2 {
    margin: 0;
    font-size: 40px;
    padding-bottom: 0;
    text-shadow: 27px -34px rgba(226, 226, 224, .5);
    border-bottom: 1px solid #ab1f1f;
    max-width: 150px;
    text-shadow: 7px -10px #e2e2e0, 27px -34px rgba(226,226,224,.2);
  }
  .linkedin-media__main__media__title {
    margin-bottom: 30px;
  }
  .linkedin-media__main__media__title h2 {
    margin: 0;
    padding-bottom: 0;
    text-shadow: 27px -34px rgba(226, 226, 224, .5);
    border-bottom: 1px solid #ab1f1f;
    max-width: 105px;
    font-size: 40px;
    text-shadow: 8px -13px rgba(226,226,224,.5)!important;
  }

  .linkedin-media__main__content__description p {
    color: #313a41;
    font-size: 12px;
  }
  .linkedin-media__main__content__post__name{
    padding: 0;
  }
  
  .linkedin-media__main__content__post__name p {
    font-size: 10px;
    color: #32393e;
  }
  .linkedin-media__main__content__post__name h2 {
    margin-bottom: 10px;
  }

  .linkedin-media__main__content__post__follow a {
    font-size: 10px;
  }
  .linkedin-media__main__content__post {
    padding-bottom: 25px;
  }

  .linkedin-media__main__media__posts__item__description p {
    font-size: 12px;
    padding: 0 10px 0 0;
  }
  .linkedin-media__main__media__posts__item__description ul li {
    font-size: 12px;
  }
.linkedin-media__main__media__posts__item__news{
  padding: 0 10px 0 0;
}

  .linkedin-media__main__media__posts__item {
    padding: 20px 0;
  }
  .linkedin-media__main__media__posts__item:first-child {
    padding-top: 0;
  }
  .linkedin-media__main__media__posts__item__time p {
    font-size: 10px;
  }
  .linkedin-media__main__media__posts__item__time{
    padding: 0 10px 0 0;
  }
  nav .menu {
    display: none;
  }
  header {
    box-shadow: none;
    visibility: visible;
  }
  nav #brand {
    float: left;
    display: block;
    position: relative;
    margin: 0 0 0 50px;
    font-size: 0;
    line-height: 70px;
    font-weight: bold;
  }

  nav #brand img {
    vertical-align: middle;
    border-style: none;
    width: 140px;
    height: auto;
  }

  .books {
    background-image: none !important;
  }
  .books__content {
    margin: 85px 0 0 0;
  }

  .home {
    background-image: none !important;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 70px 0 0 0;
  }

  .home__main__content h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 18px 0;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 15px -14px #e2e2e0, 15px -14px rgba(226, 226, 224, .2);
  }

  .home__main__content p {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 22px 0;
    font-family: 'Libre Baskerville', serif;
  }

  .home__main__content {
    width: 100%;
    height: auto;
    //min-height: 765px;
    display: flex;
    flex-wrap: wrap;
    max-width: 820px;
    align-items: flex-start;
    margin: 0;
    flex-direction: column;
    padding: 0;
    justify-content: flex-end;
  }
  .home__copyright {
    display: none;
  }
  .onepage-wrapper .section {
    width: 100%;
    height: auto;
    padding-top: 60px;
  }

  .mobile-home-social ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 70px;
  }

  .mobile-home-social li {
    list-style: none;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 10px;
  }
  .mobile-home-social .fa-twitter {
    font-size: 20px;
    color: #292a2a;
  }
  .mobile-home-social .fa-linkedin {
    font-size: 20px;
    color: #292a2a;
  }

  .books__content__block__main__item {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .books__content__block__main__item__image-book img {
    width: 92%;
    height: auto;
    margin: 0 auto;
  }
  .books__content__block__main__item__image-book {
    width: 100%;
    max-width: 500px;
    margin-bottom: 25px;
  }

  .books__content__block__main__item__book-info h2 {
    padding: 0;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .books__content__block__main__link {
    display: none;
  }

  .books__content__block__main__item__book-info p {
    padding: 0;
  }
  .books__content__block__main__item__book-info a {
    padding: 0;
  }
  .books__content__title {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .books__content__title h2 {
    font-size: 40px;
    width: auto;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e12828;
    text-shadow: 7px -10px #e2e2e0, 27px -34px rgba(226,226,224,.2);
  }
  .speaking__main__posts {
    margin-top: 40px;
  }
  .speaking__main__title {
    display: flex;
    justify-content: center;
  }
  .speaking__main__title h2 {
    font-size: 40px;
    width: auto;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e12828;
    text-shadow: 7px -10px #e2e2e0, 27px -34px rgba(226,226,224,.2);
  }
  .scroll-me-all-night-long {
    margin: 0 0 0 0 !important;
    height: auto;
    padding: 0;
  }

  .onepage-wrapper .section {
    width: 100%;
    height: auto !important;
  }

  .consulting {
    padding: 120px 0 40px 0;
    height: auto !important;
  }
  .consulting__content__main {
    flex-direction: column-reverse;
  }
  .consulting__content__title {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .consulting__content__title h2 {
    font-size: 40px;
    width: auto;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e12828;
    text-shadow: 7px -10px #e2e2e0, 27px -34px rgba(226,226,224,.2);
  }
  .consulting__content__main__image-bg {
    padding-bottom: 30px;
  }
  .consulting__content__main__info p {
    font-size: 12px;
  }

  .speaking__main__block__info {
    padding: 0;
  }

  .speaking__main__block__info p {
    font-size: 12px;
  }
  .speaking__main__block__info a {
    font-size: 12px;
    color: #ab1f1f;
  }
  .speaking {
    padding: 70px 0 0 0;
    background-image: none !important;
  }

  .contact {
    padding: 100px 0 0 0;
    width: 100%;
    height: auto;
    min-height: 380px;
  }
  .contact__main__title {
    width: 100%;
    height: auto;
  }
  .contact__main__title h2 {
    font-size: 40px;
    color: #111c24;
    border-bottom: 1px solid #e12828;
    max-width: 130px;    max-width: 130px;
    text-shadow: 27px -34px rgba(226,226,224,.5);
  }

  .contact__main__description p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .contact__main__description p a {
    margin: 0;
    font-size: 12px;
    padding-top: 20px;
  }
  .linkedin-media__main__content__image {
    margin-top: 15px;
  }

  .speaking__main__block__info__image-bg {
    padding-bottom: 20px;
  }
  .home__main__content a {
    width: 100%;
  }

  .about__block {
    background-image: none !important;
    padding: 70px 0 0 0;
  }

  .about__block__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .about__block__main__image img {
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 40px;
  }
  .about__block__main__image {
    padding: 0;
  }
  .about__block__main__info {
    padding: 0;
  }
  .about__block__main__info p {
    font-size: 12px;
  }

  .home__copyright__content__info p {
    font-size: 8px;
  }
}

/*MEDIA MIN 1440px*/

@media screen and(min-width: 1440px) {
  .container {
    min-width: 1440px;
  }
}

/*MEDIA MIN 992px*/

@media (min-width: 992px) {
  #resize {
    visibility: hidden !important;
  }
}

/*MEDIA MIN 992px MAX 1200px*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  nav .menu li {
    padding: 0 15px;
  }
  nav .menu li a {
    font-size: 17px;
  }
  .books__content__block__main__item__image-book {
    max-width: 200px;
    min-height: 225px;
    background-position: center;
    background-size: unset;
    margin: 0;
    background-repeat: no-repeat;
  }
  .books__content__block__main__item__image-book img {
    width: 150px;
    height: auto;
  }
  .books__content__block__main__item__book-info {
    padding: 0 15px;
  }
  .books__content__block__main__item__book-info h2 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
    color: #111c24;
  }
  .about__block__main {
    align-items: flex-start;
  }
  .linkedin-media__main__content__description {
    height: 12vh !important;
  }
  .scroll-me-all-night-long {
    margin-bottom: 10px;
  }
}

/*MEDIA MIN 1201px MAX-1440px*/

@media screen and(min-width: 1201px) and (max-width: 1440px) {

  .about__block__main {
    align-items: flex-start;
  }

  .books__content__block__main__item__image-book img {
    width: 180px;
  }
  .books__content__block__main__item__image-book {
    max-width: 218px;
    min-height: 271px;
  }
  .books__content__block__main__item__book-info h2 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .books__content__block__main__item__book-info p {
    margin-bottom: 10px;
  }

  .linkedin-media__main__content__description {
    height: 15vh!important;
  }
  .scroll-me-all-night-long {
    margin-bottom: 20px;
  }
}

.book-page__main__content__description__info-lists {
  margin: 60px 0;
}

.book-page__main__content__description__info-lists__items__post {
  margin: 20px 0;
}

.book-page__main__content__description__subcontent {
  margin: 60px 0;
}

.book-page__main__content__description__reviews {
  margin-top: 60px;
}

//.pad-t-75 {
//  padding-top: 75px;
//}

.current-menu-item a {
  color: #ab1f1f !important;
  text-decoration: none;
}


// 404 page 

.page-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .wrapper-error {
    width: 100%;
    max-width: 400px;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: right;
    h2 {
      font-family: 'NunitoSans-Regular';
      font-size: 46px;
    }

    h1 {
      font-size: 200px;
      color: #b30202;
      font-family: 'NunitoSans-Regular';
      font-weight: 900;
    }

    h4 {
      font-size: 20px;
      font-family: 'NunitoSans-Regular';

      a {
        color: #b30202;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .page-error {
    .wrapper-error {
      h1 {
        font-size: 150px;
      }

      h2 {
        font-size: 40px;
      }
    }
  }
}

@media screen and (min-height: 600px) and (max-height: 768px) {
  .flex-style-resolutions {
    display: flex;
  }

  .books__content {
    padding: 0;
  }

  .linkedin-media__main__content__image {
    height: 145px;
  }
}

.book-page + .about__copyright-default {
  position: relative;
}