{{#org-about-me}}
<div class="about">
    <section class="about__block" style="background-image: url('assets/img/about-me-bg.jpg')">
        <div class="container">
            <div class="about__block__main">
                <div class="about__block__main__info col-12 col-lg-6">
                    {{> ../molecules/title-h2-default}} 
                    {{> ../molecules/about-me-description}}
                </div>
                <div class="about__block__main__image col-12 col-lg-5">
                    <img src="assets/img/about-me-image.png" alt="image" />
                </div>
            </div>
        </div>
    </section>    
</div>
{{/org-about-me}}