{{#org-gallery}}
<section>
    <div class="container">
        {{> ../molecules/title-h2-default}}
        <div class="gallery-slider">
            {{> ../molecules/gallery-item}}
        </div>
        <div class="nav-arrows-container">
            <div id="other-news-left">
                <img src="assets/img/gallery-left-arrow.png" alt="img" />
            </div>
            <div class="dots-container"></div>
            <div id="other-news-right">
                <img src="assets/img/gallery-right-arrow.png" alt="img" />
            </div>
        </div>
    </div>
</section>
{{/org-gallery}}