{{#org-header-block}}
<header>
    <div class="container">
        <nav>
            <div id="toggle">
                <div class="span" id="one"></div>
                <div class="span" id="two"></div>
                <div class="span" id="three"></div>
            </div>
            {{> ../molecules/header-logo}}
            <ul class="menu">
                {{> ../molecules/header-menu-items}}
            </ul>
            <div class="mobile-home-social d-lg-none d-block ">
                {{> ../molecules/social-header}}
            </div>
        </nav>
        <div id="resize">
            <ul class="menu">
                {{> ../molecules/header-menu-items}}
            </ul>
        </div>
    </div>
</header>
{{/org-header-block}} 