{{#org-page-books}}
<section class="book-page" >
    <div class="container">
        <div class="book-page__main">
            <div class="book-page__main__image col-12 col-lg-5">
                {{> ../molecules/page-books-image}}
            </div>
            <div class="book-page__main__content col-12 col-lg-6">
                <div class="book-page__main__content__info">
                    {{> ../molecules/page-books-info}}
                </div>
                <div class="book-page__main__content__description">
                    {{> ../molecules/page-books-title}}
                    {{> ../molecules/page-books-description}}
                </div>
            </div>
        </div>
    </div>
    <div class="home__copyright d-block d-lg-block">
        <div class="container">
            {{> ../molecules/copyright}}
        </div>
    </div>
</section>
{{/org-page-books}}