{{#org-section-contact}}
<section id="contact" data-number="{{dataAttr}}" class="contact" style="background-image: url('assets/img/contact.jpg')">
    <div class="container">
        <div class="contact__main">
            {{> ../molecules/title-h2-default}} {{> ../molecules/contact-content}}
        </div>
    </div>
    <div class="home__copyright d-block d-lg-block">
        <div class="container">
            {{> ../molecules/copyright}}
        </div>
    </div>
</section>
{{/org-section-contact}}