{{#org-section-consulting}}
<section id="consulting" data-number="{{dataAttr}}" class="consulting" style="background-image: url('assets/img/consulting-bg.jpg')">
    <div class="container">
        <div class="consulting__content">
            {{> ../molecules/title-h2-default}}
            <div class="consulting__content__main">
                <div class="consulting__content__main__info col-12 col-lg-6 ">
                    {{> ../molecules/consulting-content-info}}
                </div> 
                {{> ../molecules/consulting-apco-logo}}
            </div>
        </div>
    </div>
    <div class="home__copyright">
        <div class="container">
            {{> ../molecules/copyright}}
        </div>
    </div>
</section>
{{/org-section-consulting}}