{{#org-section-books}}   
    <section id="books" data-number="{{dataAttr}}" class="books" style="background-image: url('assets/img/books.jpg')">
        <div class="container">
            <div class="books__content">
                {{> ../molecules/title-h2-default}}
                <div class="books__content__block">
                    {{> ../molecules/books}}
                </div>
            </div>
        </div>
        <div class="home__copyright">
            <div class="container">
                {{> ../molecules/copyright}}
            </div>
        </div>
    </section> 
{{/org-section-books}}